body{
    background-image: url("images/space.jpeg");
    overflow-x: hidden;
}

section{
    position: relative;
}

.planet1{
    position: absolute;
    max-width: 20%;
    left: 50px;
    top: 70px;
    animation-name: moveright;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: 5;
    animation-direction: alternate;
    animation-fill-mode: both;
} 
.planet2{
    position: absolute;
    max-width: 50%;
    right: 50px;
    top: 70px;
    animation-name: moveleft;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: 5;
    animation-direction: alternate;
    animation-fill-mode: both;
}

@keyframes moveright{
    0%{
        left: 0%;
    }
    50%{
        left: 50%;
    }
    100%{
        left: 50%;
    }
} 

@keyframes moveleft{
    0%{
        right: 0%;
    }
    50%{
        right: 40%;
    }
    100%{
        right: 40%;
    }
}